includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
        - Illuminate\Database\Eloquent\Collection
        - Illuminate\Foundation\Auth\User
    ignoreErrors:
        - "#^Unsafe usage of new static#"
        - '#^Call to an undefined static method Illuminate\\Support\\Facades\\Http::ninshiki\(\)#'
